@using System.Globalization
@inherits DatePickerValidationBase

@if(string.IsNullOrWhiteSpace(Form.Date.ToString()))
{
    <p style="color:red;">This string is required</p>
}

else
{
    if (Form.Date > ViewModel.LatestDataDate)
    {
        <p> Latest Data available is dated: @ViewModel.LatestDataDate.Date.ToString("yyyy-MM", CultureInfo.InvariantCulture)</p>
        <p style="color:red;"> Please enter an earlier date.</p>
    }
}