@page "/"
@using WPC_App_BlazorServerSide.Components
@using WPC_App_BlazorServerSide.Components.Forms

@inject ICrimeData_ViewModel ViewModel;

<div style="display: grid; grid-template-areas: 'input map' 'legend legend'; grid-template-columns: 0.4fr 1fr;">
    <div style="grid-area: input"> <CrimeDataForm/> </div>
    <div style="grid-area: map"> <JavaMap/> </div>
    <div style="grid-area: legend"> <MapLegend CrimeCategories=@ViewModel.CrimeCategoriesSelected /></div>
</div>

@code{
    override protected async Task OnInitializedAsync(){
        await this.ViewModel.Initialize();
    }
}